body {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    margin: 70px 0 0 100px;
    border: 1px solid white;
}

h1,h4{
    color:white;
    text-align: center;
    margin-top: 50px;
}